@import url("http://fonts.cdnfonts.com/css/mont");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Mont", arial, sans-serif;
}

.wrapper {
  max-width: 1012px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 5px;
}

.line {
  position: relative;
  margin: 100px 0;
  text-align: center;
}
.line__strap {
  border: 1.5px solid #0C3F39;
  width: 100%;
}
.line__img {
  width: 23.5px;
  height: 16.75px;
  position: relative;
  top: -2px;
}
.line__img--rotateUp {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: -17px;
}
.line__img--rotateRight {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: calc(100% - 3px);
  top: -8.3725px;
}
.line__img--rotateLeft {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: -19.75px;
  top: -8.3725px;
}
.line--small {
  width: 213px;
  margin: 25px 0 35px;
}
.line--xmedium {
  width: 238px;
  margin: 35px 0 0;
}
.line--medium {
  width: 324px;
  margin: 25px 0;
}
.line--large {
  text-align: left;
  width: 344px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 125px 0 130px;
}
.menu--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 65px 0 0;
}
.menu__logo-link {
  margin-right: auto;
}
.menu__logo-link--margin {
  margin: 0 auto 25px auto;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.menu__sidebar {
  display: none;
}
.menu__sidebar-triangle-down {
  width: 23.5px;
  height: 16.75px;
}
.menu__item-text {
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: none;
  color: #093E38;
  padding: 10px 12.5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu__item-text:hover {
  color: #ADDBE2;
}
.menu__item-text--paddingRightBigger {
  padding-right: 25px;
}
.menu__item-text--btn {
  padding: 10px 30px;
  background-color: #ADDBE2;
  background-color: #ADDBE2;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.menu__item-text--btn:hover {
  color: #fff;
  background-color: #7dd2dd;
}
.menu__item-text--color {
  color: #D4E5CE;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #093E38;
}
.about__img-building-box {
  width: 324px;
  height: 418px;
  background-image: url("../img/home-images/home-2.jpg");
  background-position: 48% 0;
  background-size: cover;
  margin-bottom: 95px;
}
.about__img-sevenstone-box {
  width: 582px;
  height: 457px;
  background-image: url("../img/home-images/home-3.jpg");
  background-position: 82% 0;
  background-size: cover;
}
.about__container {
  max-width: 608px;
}
.about__title {
  max-width: 400px;
  font-size: 3.4rem;
  font-weight: 900;
  color: #D4E5CE;
}
.about__text {
  font-size: 1.6rem;
}
.about__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 324px;
  background-color: #D4E5CE;
}
.about__info-text {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 31.5px;
  padding: 60px 30px 0 50px;
}

.deals__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loan-options {
  color: #093E38;
}
.loan-options__bgc {
  position: relative;
  background-image: url("../img/home-images/loan-options.png");
  margin-bottom: 100px;
}
.loan-options__title {
  position: relative;
  top: 32px;
  left: 34px;
  max-width: 500px;
  font-size: 10.3rem;
  line-height: 10.3rem;
  font-weight: 500;
  padding: 30px 40px;
  color: #fff;
  background-color: #D4E5CE;
}
.loan-options__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.loan-options__subtitle {
  font-size: 3rem;
  font-weight: 800;
  margin-right: 35px;
}
.loan-options__text {
  font-size: 1.6rem;
  width: 602px;
}
.loan-options__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 110px;
}
.loan-options__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 238px;
}
.loan-options__icon {
  margin-right: 15px;
}
.loan-options__icon-name {
  font-size: 1.6rem;
  font-weight: 800;
}

.contact {
  margin-bottom: 180px;
  color: #093E38;
}
.contact__title {
  font-weight: 400;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 50px;
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__form-item {
  font-size: 1.6rem;
  font-weight: 600;
  width: 494px;
  border: 2px solid #D4E5CE;
  padding: 15px 0 15px 30px;
  margin-bottom: 25px;
}
.contact__form-item::-webkit-input-placeholder {
  color: #093E38;
  opacity: 1;
}
.contact__form-item::-moz-placeholder {
  color: #093E38;
  opacity: 1;
}
.contact__form-item:-ms-input-placeholder {
  color: #093E38;
  opacity: 1;
}
.contact__form-item::-ms-input-placeholder {
  color: #093E38;
  opacity: 1;
}
.contact__form-item::placeholder {
  color: #093E38;
  opacity: 1;
}
.contact__form-item:-ms-input-placeholder {
  color: #093E38;
}
.contact__form-item::-ms-input-placeholder {
  color: #093E38;
}
.contact__form-item--widthBigger {
  width: 100%;
  min-height: 185px;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Mont", arial, sans-serif;
}
.contact__info {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: auto;
}
.contact__social-media {
  font-size: 2.4rem;
  line-height: 60px;
  text-align: center;
  width: 60px;
  height: 60px;
  background-color: #D4E5CE;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact__social-media:hover {
  color: #D4E5CE;
  background-color: #093E38;
}
.contact__btn {
  height: 60px;
  font-size: 1.5rem;
  font-weight: 800;
  border: none;
  padding: 0 80px;
  margin-left: 20px;
  background-color: #ADDBE2;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.contact__btn:hover {
  color: #fff;
  background-color: #7dd2dd;
}

.leadershipers__title {
  max-width: 600px;
  font-size: 6rem;
  font-weight: 400;
  text-align: center;
  color: #093E38;
  margin: 0 auto;
}
.leadershipers__text {
  font-size: 1.6rem;
  max-width: 740px;
  text-align: center;
  color: #093E38;
  margin: 15px auto 0;
}
.leadershipers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.leadershipers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 324px;
}
.leadershipers__item:last-of-type {
  margin: 0 auto;
}
.leadershipers__image {
  margin-top: 110px;
}
.leadershipers__space {
  width: 324px;
  height: 19px;
  background-color: #D4E5CE;
  margin-left: 1px;
  margin-top: -5px;
}
.leadershipers__name {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 42px;
}
.leadershipers__role {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 15px;
}
.leadershipers__description {
  font-size: 1.6rem;
  margin-bottom: 30px;
}
.leadershipers__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}
.leadershipers__phone {
  font-size: 2rem;
  font-weight: 800;
  color: #093E38;
  margin-right: auto;
}
.leadershipers__icon {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  background-color: #D4E5CE;
  margin-left: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.leadershipers__icon:hover {
  background-color: #c1dfb5;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #0C3F39;
  width: 100%;
}
.footer__newsletter-info {
  max-width: 444px;
  text-align: center;
  margin: 40px 0 15px;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
}
.footer__form-item {
  height: 50px;
  width: 400px;
  padding: 13px 0 13px 30px;
  font-size: 1.6rem;
  border: none;
}
.footer__form-item::-webkit-input-placeholder {
  color: #CFCFCF;
  opacity: 1;
}
.footer__form-item::-moz-placeholder {
  color: #CFCFCF;
  opacity: 1;
}
.footer__form-item:-ms-input-placeholder {
  color: #CFCFCF;
  opacity: 1;
}
.footer__form-item::-ms-input-placeholder {
  color: #CFCFCF;
  opacity: 1;
}
.footer__form-item::placeholder {
  color: #CFCFCF;
  opacity: 1;
}
.footer__form-item:-ms-input-placeholder {
  color: #CFCFCF;
}
.footer__form-item::-ms-input-placeholder {
  color: #CFCFCF;
}
.footer__form-btn {
  height: 50px;
  font-weight: 900;
  font-size: 1.6rem;
  color: #093E38;
  background-color: #D4E5CE;
  border: none;
  padding: 15px 45px;
  margin-left: -5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.footer__form-btn:hover {
  color: #D4E5CE;
  background-color: #093E38;
  border: 2px solid #D4E5CE;
  margin-left: 5px;
}
.footer__company {
  margin: 10px 0 80px;
}/*# sourceMappingURL=main.css.map */