@import url("http://fonts.cdnfonts.com/css/mont");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Mont", arial, sans-serif;
}

.wrapper {
  max-width: 1012px;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 1048px) {
  .wrapper {
    padding: 0 10px;
  }
}

.line {
  position: relative;
  margin: 100px 0;
  text-align: center;
}
.line__strap {
  border: 1.5px solid #0C3F39;
  width: 100%;
}
.line__img {
  width: 23.5px;
  height: 16.75px;
  position: relative;
  top: -2px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 125px;
}
.menu--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 65px;
}
.menu__logo-link {
  margin-right: auto;
}
.menu__logo-link--margin {
  margin: 0 auto 25px auto;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.menu__sidebar {
  display: none;
}
.menu__sidebar-triangle-down {
  width: 23.5px;
  height: 16.75px;
}
.menu__item-text {
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: none;
  color: #093E38;
  padding: 10px 12.5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu__item-text:hover {
  color: #ADDBE2;
}
.menu__item-text--paddingRightBigger {
  padding-right: 25px;
}
.menu__item-text--btn {
  padding: 10px 30px;
  background-color: #ADDBE2;
  color: #fff;
}
.menu__item-text--btn:hover {
  color: #fff;
  background-color: #093E38;
}
.menu__item-text--color {
  color: #D4E5CE;
}

.about__img-building-box {
  width: 324px;
  height: 418px;
  background-image: url("../img/home-images/home-2.jpg");
}
.about__img-sevenstone-box {
  width: 582px;
  height: 457px;
  background-image: url("../img/home-images/home-3.jpg");
}

.leadershipers__item {
  width: 324px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #0C3F39;
  width: 100%;
}
.footer__newsletter-info {
  max-width: 444px;
  text-align: center;
  margin: 40px 0 15px;
}
.footer__form {
  margin-bottom: 55px;
}
.footer__form-item {
  height: 50px;
  width: 400px;
  padding: 13px 0 13px 30px;
  font-size: 1.6rem;
  border: none;
}
.footer__form-item::-webkit-input-placeholder {
  color: #CFCFCF;
  opacity: 1;
}
.footer__form-item::-moz-placeholder {
  color: #CFCFCF;
  opacity: 1;
}
.footer__form-item:-ms-input-placeholder {
  color: #CFCFCF;
  opacity: 1;
}
.footer__form-item::-ms-input-placeholder {
  color: #CFCFCF;
  opacity: 1;
}
.footer__form-item::placeholder {
  color: #CFCFCF;
  opacity: 1;
}
.footer__form-item:-ms-input-placeholder {
  color: #CFCFCF;
}
.footer__form-item::-ms-input-placeholder {
  color: #CFCFCF;
}
.footer__form-btn {
  height: 50px;
  font-weight: 900;
  font-size: 1.6rem;
  color: #093E38;
  background-color: #D4E5CE;
  border: none;
  padding: 15px 45px;
  margin-left: -5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer__form-btn:hover {
  color: #D4E5CE;
  background-color: #093E38;
  border: 2px solid #D4E5CE;
  margin-left: 5px;
}
.footer__company {
  margin: 10px 0 80px;
}/*# sourceMappingURL=main.css.map */