*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 10px
    font-family: $font

.wrapper
    max-width: 1012px
    margin: 0 auto
    overflow: hidden
    padding: 0 5px

.line
    position: relative
    margin: 100px 0
    text-align: center
    +mq(xsmall)
        margin: 60px 0
    &__strap
        border: 1.5px solid $main-color
        width: 100%
        &--footer
            border-color: $bgc-color
    &__img
        +triangle
        position: relative
        top: -2px
        &--smaller
            width: 13px
            height: 9px
        &--rotateUp
            transform: rotate(180deg)
            top: -17px
        &--marginTop
            top: -10px
        &--rotateRight
            transform: rotate(-90deg)
            left: calc(100% - 4px)
            top: -8.3725px
        &--rotateLeft
            transform: rotate(90deg)
            left: -18.75px
            top: -8.3725px
    &--xsmall
        width: 177px
        margin: 30px auto 0
        display: none
        +mq(xmedium)
            display: block
    &--small
        width: 213px
        margin: 25px 0 35px
        +mq(large)
            width: calc(100% - 80px)
    &--xxmedium
        display: none
        +mq(xmedium)
            display: block
            width: 228px
            margin: 20px auto 0
    &--marginTop
        margin-top: 0
    &--xmedium
        width: 238px
        margin: 35px 0 0
    &--medium
        width: 324px
        margin: 25px 0
    &--large
        text-align: left
        width: 32%
        +mq(medium)
            width: 25%
        +mq(xsmall)
            width: 20%
        +mq(xxsmall)
            width: 15%
        +mq(xxxsmall)
            width: 10%