*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 10px
    font-family: $font

.wrapper
    max-width: 1012px
    margin: 0 auto
    overflow: hidden
    padding: 0 5px

.line
    position: relative
    margin: 100px 0
    text-align: center
    &__strap
        border: 1.5px solid #0C3F39
        width: 100%
    &__img
        +triangle
        position: relative
        top: -2px
        &--rotateUp
            transform: rotate(180deg)
            top: -17px
        &--rotateRight
            transform: rotate(-90deg)
            left: calc(100% - 3px)
            top: -8.3725px
        &--rotateLeft
            transform: rotate(90deg)
            left: -19.75px
            top: -8.3725px
    &--small
        width: 213px
        margin: 25px 0 35px
    &--xmedium
        width: 238px
        margin: 35px 0 0
    &--medium
        width: 324px
        margin: 25px 0
    &--large
        text-align: left
        width: 344px

