.about
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    color: $main-color
    &__img
        &-building-box
            width: 324px
            height: 418px
            background-image: url('../img/home-images/home-2.jpg')
            background-position: 48% 0
            background-size: cover
            margin-bottom: 95px
            +mq(large)
                width: 100%
                height: 208px
                background-position: 0 38%
                margin-bottom: 55px
        &-sevenstone-box
            width: 582px
            height: 457px
            background-image: url('../img/home-images/home-3.jpg')
            background-position: 82% 0
            background-size: cover
            +mq(large)
                margin-top: 90px
                width: 100%
                height: 204px
                background-position: 0 30%
            +mq(small)
                background-position: 0 40%
    &__container
        max-width: 608px
        +mq(large)
            max-width: 100%
    &__title
        max-width: 400px
        font-size: 3.4rem
        line-height: 3.6rem
        font-weight: 900
        color: $bgc-color
        +mq(large)
            max-width: 100%
            margin-bottom: 30px
    &__text
        margin-top: 10px
        font-size: 1.6rem
    &__info
        &-box
            display: flex
            flex-wrap: wrap
            justify-content: center
            max-width: 324px
            background-color: $bgc-color
            +mq(large)
                max-width: 100%
        &-text
            font-size: 2.5rem
            font-weight: 700
            line-height: 31.5px
            padding: 60px 30px 0 50px
