.deals
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start
    color: $main-color
    &--vertical
        flex-direction: column
        justify-content: flex-start
        align-items: stretch
    &__icon
        +mq(large)
            display: none
    &__card
        max-width: 760px
        font-size: 1.6rem
        margin-bottom: 80px
        &--marginBottom-0px
            text-align: center
            margin: 0 auto
    &__title
        max-width: 600px
        font-size: 6rem
        font-weight: 400
        line-height: 6.48rem
        &--transactions
            margin: 0 auto
            +mq(xsmall)
                font-size: 3rem
                line-height: 3.2rem
    &__text
        margin: 20px 0
    &__subtitle
        font-weight: 900
        &--transactions
            +mq(xsmall)
                display: none
    &__container
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        column-gap: 20px
        row-gap: 70px
        margin-bottom: 60px
        +mq(large)
            grid-template-columns: 1fr 1fr
            margin: 0 auto 60px
        +mq(xsmall)
            row-gap: 40px
        +mq(xxxsmall)
            column-gap: 5px
    &__item
        position: relative
    &__img
        +mq(xsmall)
            width: 169px
            height: 200px
    &__price
        position: absolute
        bottom: 17%
        left: 0
        width: 148px
        font-size: 1.6rem
        font-weight: 900
        color: $main-color
        background-color: $bgc-color
        padding: 12px 0 12px 18px
        +mq(xsmall)
            padding: 10px 0 10px 13px
    &__info
        position: absolute
        width: 100%
        bottom: -15%
        left: 0
        font-size: 1.5rem
        font-weight: 600
        color: $bgc-color
        background-color: $main-color
        padding: 12px 0 20px 18px
        +mq(xsmall)
            font-size: 1.2rem
            padding: 10px 0 10px 13px
    &__box
        display: flex
        justify-content: space-between
        align-items: center
        flex-basis: 100%
    &__link
        font-size: 1.5rem
        font-weight: 800
        color: $main-color
        text-decoration: none
        border: 2px solid $main-color
        padding: 10px 25px
        margin-top: -20px
        transition: 0.3s
        &:hover
            color: #fff
            background-color: $main-color
    &__btn
        +btn
        font-size: 1.5rem
        font-weight: 800
        border: none
        padding: 10px 20px
        margin-right: 5px
        &--display
            +mq(xmedium)
                margin-bottom: 8px
            +mq(xsmall)
                display: none
        &--wider
            width: 173px
    &__filtration
        margin: 0 auto 35px
        +mq(xmedium)
            text-align: center
            max-width: 450px
        &-selection
            display: none
            +mq(xsmall)
                width: 350px
                display: flex
                justify-content: space-around
                align-items: center
                font-size: 1.5rem
                font-weight: 800
        &-filter
            appearance: none
            display: flex
            width: 200px
            font-size: 1.5rem
            font-weight: 800
            color: $main-color
            border: none
            padding: 5px 0 5px 10px
            background: url('../img/deals-images/arrow-down.png') no-repeat
            background-position: 95% 90%
            background-color: #F0F0F0
            &--rotateArrow
                background: url('../img/deals-images/arrow-up.png') no-repeat
                background-position: 95% 40%
                background-color: #F0F0F0
        &-choice
            color: #fff
            background-color: $main-color
            &:checked
                color: $main-color
                background-color: $bgc-color
    &__pagination
        margin: 40px auto 0
        +mq(xsmall)
            display: none
        &-box
            display: flex
            max-width: 173px
            justify-content: space-between
            margin: 10px 0 130px
        &-previous
            position: relative
            width: 40px
            height: 40px
            border: 2px solid $bgc-color
            transition: 0.2s
            cursor: pointer
            &:hover
                border: 2px solid $main-color
        &-content
            width: 78px
            font-size: 1.5rem
            font-weight: 800
            line-height: 36px
            text-align: center
            margin: 0 6.25px
            border: 2px solid $bgc-color
        &-next
            position: relative
            width: 40px
            height: 40px
            border: 2px solid $bgc-color
            transition: 0.2s
            cursor: pointer
            &:hover
                border: 2px solid $main-color
    &__triangle-icon
        position: absolute
        width: 12px
        height: 17px
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    &__btn-more
        display: none
        +btn
        +mq(xsmall)
            display: flex
            font-size: 1.5rem
            font-weight: 800
            padding: 10px 30px
            width: 100px
            margin: 30px auto 60px