.header-section
    display: flex
    position: relative
    color: $main-color
    &__title
        font-size: 12.4rem
        line-height: 12.4rem
        font-weight: 400
    &__subtitle
        position: absolute
        top: 40%
        left: 36%
        font-size: 1.9rem
        font-weight: 800
    &__image
        position: absolute
        right: 0
        z-index: -1