.interest-rates
    display: flex
    font-weight: 800
    font-size: 1.44rem
    color: $main-color
    &__list
        display: flex
        flex-direction: column
    &__item
        display: flex
        &--bigger
            font-size: 1.53rem
    &__text