.leadershipers
    &__title
        max-width: 600px
        font-size: 6rem
        font-weight: 400
        text-align: center
        color: $main-color
        margin: 0 auto
    &__text
        font-size: 1.6rem
        max-width: 740px
        text-align: center
        color: $main-color
        margin: 15px auto 0
    &__container
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__item
        display: flex
        flex-direction: column
        width: 324px
        &:last-of-type
            margin: 0 auto
    &__image
        // width: 324px
        // height: 295px
        margin-top: 110px
    &__space
        width: 324px
        height: 19px
        background-color: $bgc-color
        margin-top: -2px
    &__name
        font-size: 2rem
        font-weight: 800
        margin-top: 42px
    &__role
        font-size: 2rem
        font-weight: 800
        margin-bottom: 15px
    &__description
        font-size: 1.6rem
        margin-bottom: 30px
    &__box
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: auto
    &__phone
        font-size: 2rem
        font-weight: 800
        color: $main-color
        margin-right: auto
    &__icon
        width: 36px
        height: 36px
        line-height: 36px
        text-align: center
        font-size: 1.8rem
        color: #fff
        background-color: $bgc-color
        margin-left: 10px
        transition: 0.2s
        cursor: pointer
        &:hover
            background-color: #c1dfb5