.menu
    display: flex
    align-items: center
    margin: 125px 0 130px
    &--vertical
        flex-direction: column
        margin: 65px 0 0
        +mq(xmedium)
            order: -1
    &__logo-link
        margin-right: auto
        &--margin
            margin: 0 auto 25px auto
    &__logo-image
        &--footer
            +mq(xmedium)
                width: 182px
                height: 21px
    &__list
        display: flex
        list-style: none
        &--footer
            +mq(xmedium)
                display: none
    &__sidebar
        display: none
        &-triangle-down
            +triangle
    &__item
        &-text
            font-weight: 800
            font-size: 1.5rem
            text-decoration: none
            color: $main-color
            padding: 10px 12.5px
            transition: 0.3s
            &:hover
                color: $btn-color
            &--paddingRightBigger
                padding-right: 25px
            &--btn
                padding: 10px 30px
                background-color: $btn-color
                +btn
            &--color
                color: $bgc-color